{% extends 'base/base.html' %}

{% block contenido %}
<div class="container my-5">
    <div class="alert alert-info display-1 text-center mb-5">
        Lista de Productos ✅
    </div>

    <a href="{% url 'agregar_producto' %}" class="btn btn-success mb-3">Agregar Producto</a>

    <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% if productos %}
                {% for producto in productos %}
                <tr class="table-light">
                    <th scope="row">{{ producto.id }}</th>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i>Editar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No hay productos registrados</td>
                    </tr>
                    </td>
                </tbody>
            {% endif %}
    </table>
</div>
{% endblock %}
